@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Team Manager App</h1>
    <p class="lead">Welcome to the free team manager app from New Boot Solutions!</p>
</div>

<div class="row">
    <div class="col-md-7">
        <h2>Players</h2>
        <p>
            Register as a new Player, or login as an existing Player!
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Player's Home Page", "Index", "Players") &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coach's</h2>
        <p>Register as a new Coach, or login as an existing Coach!</p>
        <p><a class="btn btn-default" @Html.ActionLink("Coach's Home Page", "Index", "Coaches") &raquo;</a></p>
    </div>
</div>